.nav {
  background-color: #540B0E;
  font-family:'Roboto', sans-serif;
}

.booksearchheader{
  background-color: #E09F3E;
  padding-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  font-family:'Roboto', sans-serif;
}

.booksearch {
  border-style: solid;
  background-color: #FFF3B0;
  font-family:'Roboto', sans-serif;
}

body {
  font-family:'Roboto', sans-serif;
}

.resultsheader {
  background-color: #E09F3E;
  font-family:'Roboto', sans-serif;
  padding-top: 5px;
  margin-bottom: 5px;
  height: 40px;
}

.results {
  border-style: solid;
  background-color: #FFF3B0;
  font-family:'Roboto', sans-serif;
}

.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.viewinfo{
  float: right;
}

.saveinfo{
  float:right;
}

.deletebook{
  float:right;
}